* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
}

/* Add styles here! */

header {
  background-color: hsl(0deg, 0%, 100%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  border-top: 5px solid hsl(0deg, 0%, 40%);
  padding: 64px 0;
  background-color: hsl(0deg, 0%, 60%);
}

.max-width-wrapper {
  max-width: 60ch;
  margin-left: auto;
  margin-right: auto;
}

.intro-chunk {
  padding: 64px 16px 32px;
  max-width: 40ch;
}

.card {
  border-bottom: 5px solid hsl(0deg, 0%, 40%);
  padding: 8px 16px;
  background-color: hsl(0deg, 0%, 100%);
}

.indented-heading {
  margin: 0;
  margin-left: -32px;
  border-bottom: 5px solid hsl(45deg, 100%, 40%);
  padding: 16px 32px;
  background-color: hsl(45deg, 100%, 50%);
  width: fit-content;
}
